//! **************************************************************************
// Written by: Map O.87xd on Sat Sep 09 17:21:54 2023
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

